extends onboarding

block stage
  include ../partials/row-buttons

  div.onboarding#third
    section.message
      h1.message-title Donate & Share

      p.message-paragraph We believe in leveraging the power of the crowd. Please consider sharing your donation and the fundraiser on your social media channels.

    include ./progress
    +onboarding-progress(3)

    +rowButtons([{text: 'LET\'S GO', url: '/'}])
