.about {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 1.2em;
  @media screen and (max-width: 600px)  {
    font-size: 0.7em;
  }

  color: white;
  a {
    text-decoration: underline;
    color: white;
  }

  width: 100%;
  min-height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5 )),url('/images/about/about.png') center no-repeat;

  background-size: 100% 100%;
  @media screen and (max-width: 600px) {
    background-size: cover;
  }
}

.about .grow {
  flex: 1;
}

.about div {
  max-width: 1.2 * $picnic-breakpoint;
  margin: none;
  @media screen and (min-width: 1.2 * $picnic-breakpoint) {
    margin: auto;
  }
}

.about section p {
  margin-top: 0px;
}

.about section h3 {
  padding: 0px;
}

.about .logo {
  height: 15px;
}

.about .social {
  padding: 0% 15% 0 15%;
}
