@import "campaign_progress";

$light-font-color: #6f6f6f;

.campaign-container {
  padding-bottom: 5em;
}

.campaign-image-container {
  color: white;
  padding: 10em 0.5em 20% 0.5em;
  background-size: 100% 100%, cover !important;
}

%campaign-font {
  font-size: 1.1em;
}


.campaign-font_bold{
  @extend %campaign-font;
  color: #111;
  font-weight: bold;
}

.campaign-font_light{
  @extend %campaign-font;
  color: $light-font-color;
}

.campaign-headline {
  padding: 0.5em 0.5em;
  h1 {
    padding: 0 0 .3em 0;
  }
}

.campaign-info {
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
  :checked+.toggle, :checked+.toggle:hover {
    border-bottom: 3px green solid;
    background: transparent;
    color: #111 !important;
    line-height: 1em;
    box-shadow: none;
  }

  .pseudo.button {
    background: transparent;
    color: $light-font-color;
    padding: 0 0;
    margin: 0 .5em 0 .5em;
  }
}

.campaign-info--section {
  text-align: left;
  p {
    margin: .5em 0 0 0;
    line-height: 1.2em;
  }
}

.campaign-stats .partner-logo img {
  max-width: 150px;
}

.bottom-buttons {
  margin-left: -$max-width-container-padding;
  position: fixed;
  display: inline-grid;
  align-items: center;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  height: 2.5em;
  max-width: $picnic-breakpoint;
}
