div#contact {
  text-align: center;

  #contact-form {
    input,
    textarea {
      margin-bottom: 0.5em;
    }
    button {
      width: 100%;
    }

    #email-field {
      display: none;
      position: absolute;
      float: left;
      left: 9999px;
    }
  }

  #success-content {
    max-width: 20em;
    text-align: center;
    font-size: small;
    img {
      display: inline-block;
    }
    p {
      padding: 0.5em;
      margin: 0;
    }
    padding: 1em;
  }

}
