// image selection. based on hidden radio buttons with images for labels.

$b-width: 5px;
$not-mobile-height: 250px;
$mobile-height: 120px;

.background-cut {
  height: 150px;
  background-size: 100% 100%, cover !important;
}

.share-selectors {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.share-selectors input {
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.share-selectors input:active +.selector {
  opacity: .9;
}
.share-selectors input:checked +.selector {
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}

.share-selectors .selector img {
  width: $mobile-height;
  @media (min-width: 600px) {
    width: $not-mobile-height;
  }
}

.share-selectors .selector {
  cursor:pointer;
  height: $mobile-height + (2 * $b-width);
  @media (min-width: $picnic-breakpoint) {
    height: $not-mobile-height + (2 * $b-width);
  }
  border: white $b-width solid;
  outline: lightgrey 1px solid;
  display:inline-block;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
          filter: brightness(1.8) grayscale(1) opacity(.7);
}
.share-selectors .selector:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

// share buttons

#social-buttons {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
}

.share {
  @extend .button;
  padding: 0px !important;
  border: white 1px solid !important;
  margin-right: 0.5em !important;

  @media (min-width: $picnic-breakpoint) {
    border: white 2px solid !important;
  }
}

.share * {
  vertical-align: middle;
  margin-right: 0.3em;
}

.share img {
  border-right: white 1px solid;
  @media (min-width: $picnic-breakpoint) {
    border-right: white 2px solid;
  }
}

.share span {
  font-size: small;
  @media (min-width: $picnic-breakpoint) {
    font-size: medium;
  }
}

.share img {
  height: 20px;
  @media (min-width: $picnic-breakpoint) {
    height: 30px;
  }
}

.share i {
  font-size: small;
  @media (min-width: $picnic-breakpoint) {
    font-size: medium;
  }
}

.fb-button {
  @extend .share;
  background-color: #3B5998 !important;
}

.twitter-button {
  @extend .share;
  background-color: #1da1f2 !important;
}

.wa-button {
  @extend .share;
  background-color:  #25d366 !important;
}

.inst-button {
  @extend .share;
  background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000) !important;
}

.download-button {
  @extend .share;
  background-color: #006680 !important;
}

.email-button {
  @extend .share;
  background-color: grey !important;
}

div.cut-off {
  background-image: url('/images/svg/cut-off-bottom-share.svg');
  background-size: 100% 100%, cover !important;
  height: 150px;
}

// image upload

.close-button {
  all: unset;
  font-size: 200%;
  position: absolute;
  top: 0px;
  right: 10px;
  color: red;
  visibility: hidden;
}

#share3-label{
  background-image: url('/images/social/upload.png'), url('/images/social/share-bg01.jpg');
  background-position: left center, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  height: $mobile-height;
  width: $mobile-height;
  @media (min-width: 600px) {
    height: $not-mobile-height;
    width: $not-mobile-height;
  }
}

#share4-label {
  background-image: url('/images/social/upload.png'), url('/images/social/share-bg02.jpg');
  background-position: left center, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  height: $mobile-height;
  width: $mobile-height;
  @media (min-width: 600px) {
    height: $not-mobile-height;
    width: $not-mobile-height;
  }
}
