include ../partials/progress-bar

mixin progress(amount, goal)
  - var percent = (Math.floor((amount*100)/goal)) +'%';

  div(class="campaign-progress")
    +progressBar(percent)
    div(class="progress-amounts")
      div(style="display:inline-block;")
        div 
          span(class='campaign-font_light') Total:  
          span(class='campaign-font_bold') $ #{amount}
      div(style="float:right;")
        div(style="text-align: right;") 
          span(class='campaign-font_light') Target: 
          span(class='campaign-font_bold') $ #{goal}
