include share-selector
form
  input(type="hidden" name="campaignId" value=campaign.id)
  .share-selectors
    +shareSelector('share1', staticShares['1'], '1')
    +shareSelector('share2', staticShares['2'], '2')
    input(
      type='file'
      id="share3"
      name="share"
      style="opacity: 0; position: absolute; z-index: -1;"
      accept="image/*"
    )
    label(
      id="share3-label"
      for="share3"
      style="position: relative"
    )
      a(href="#" id="close-button" class="close-button" style="background-color: none; z-index: 1") ✖
    input(
      type='file'
      id="share4"
      name="share"
      style="opacity: 0; position: absolute; z-index: -1;"
      accept="image/*"
    )
    label(
      id="share4-label"
      for="share4"
      style="position: relative"
    )
      a(href="#" id="close-button2" class="close-button" style="background-color: none; z-index: 1") ✖

  canvas(id="shareCanvas" width="1080" height="1080" style="display: none;")
  canvas(id="shareCanvas2" width="1080" height="1080" style="display: none;")
  canvas(id="blankCanvas" width="1080" height="1080" style="display: none;")
  
.cut-off
  #social-buttons
    include social-buttons

script.
  $script('/js/browserify/user-photo.js');


