include share-button

- var fb = {id: 'fb-button', onclick: `window.social.fbShare('${shareUrl}')`, class: 'fb-button'};
- var twitter = {id: 'twit-button', target: '_blank', href: `https://twitter.com/intent/tweet?url=${shareUrl}`, class: 'twitter-button'};
- var wa = {target: '_blank', href: `whatsapp://send?text=${message} ${shareUrl}`, class: 'wa-button hidden', 'data-action': 'share/whatsapp/share'};
- var inst = {id: 'insta-button', href: `${imageUrl}`, class: 'inst-button', download: ""};
- var email = {id: 'email-button', href: `mailto:?subject=${emailSubject}&body=${emailBody}${imageUrl}`, class: 'email-button'};
- var downloadFile = {id: 'socialdownload-button', href: `${imageUrl}`, download: "", class: 'download-button'};

+shareButton(fb, "/images/social/FB-f-Logo__blue_29.png", "Facebook")
+shareButton(twitter, "/images/social/Twitter_Social_Icon_Square_Color.png", "Twitter")
+shareButton(wa, "/images/social/WhatsApp_Logo_2.png", "Whatsapp")
+shareButton(inst, "/images/social/instagram-glyph-logo_May2016.png", "Instagram")
+shareButton(email, "/images/social/email-icon.png", "Email")
+shareButton(downloadFile, "/images/social/download-icon.png", "Download")

script.
  // script not loaded yet on initial page view
  if (window.social) {
    window.social.initShareButtons();
  }
