include ../partials/backclose
+backclose({url: '/'})

- var stage = 1;
include progress-line

.animated.fadeIn.donation-amounts
  h2.text-center Donation Amount

  p Please select an amount to donate:

  .fixed-amounts

    include fixed-amount
    +fixedAmount(1, 'fixedOne')
    +fixedAmount(2, 'fixedTwo')
    +fixedAmount(5, 'fixedFive')

  input(id="customAmount" type="number" pattern="\d*" placeholder="Enter a custom donation amount")

  .text-center.validation-message

  -
    const linkProps = {
      'id': "continue",
      'ic-on-beforeTrigger': "return donationAmount.validateStoreAmount();",
      'ic-local-vars': "donationAmount",
      'ic-replace-target': true,
      'ic-get-from': '/donation/method',
      'ic-target': '.donation-content',
      'ic-on-beforeSend': 'donationAmount.showSpinner();',
      'ic-on-complete': 'donationAmount.hideSpinner();',
      'class': 'full-width'
    };

include ../partials/loader-link-button
+loaderLinkButton('Continue', linkProps)

script.
  $script('/js/browserify/donation-amount.js', () => donationAmount.init());
